/*BEGIN PS3 Controller Styling*/
.controller.custom {
    background: url(low/SNES-Controller-A-low.png);
    height: 800px;
    width: 1600px;
        margin-left: -800px;
        margin-top: -400px;
}

.custom.disconnected {
    background: url(low/SNES-Controller-A-All-low.png);
}

.custom.disconnected div {
    display: none;
}

.custom .bumper {
    width:336px;
    height: 48px;
    opacity: 0;
}

.custom .bumpers {
    position: absolute;
    width: 1072px;
    height: 48px;
    left: 272px;
    top: 64px;
}

.custom .bumper.pressed {
    opacity: 1;
}

.custom .bumper.left {
    background: url(low/SNES-LButton-Only-A-low.png);
    float: left;
}

.custom .bumper.right {
    background: url(low/SNES-RButton-Only-A-low.png);
    float: right;
}

.custom .quadrant {
    position: absolute;
    background: url(low/player-n-low.png);
    height: 72px;
    width: 152px;
    top: 176px;
    left: 240px;
}

.custom .p0 {
    background-position: 0 0px;
}

.custom .p1 {
    background-position: 0 -40px;
}

.custom .p2 {
    background-position: 0 -80px;
}

.custom .p3 {
    background-position: 0 -120px;
}

.custom .arrows {
    position: absolute;
    width: 336px;
    height: 160px;
    top: 400px;
    left: 624px;
}

.custom .back, .custom .start {
    background: url(low/SNES-SelectButton-Only-A-low.png);
    width: 160px;
    height: 160px;
    opacity: 0;
}

.custom .back.pressed, .custom .start.pressed {
    background-position-y: 0px;
    opacity: 1;
}

.custom .back {
    float: left;
}

.custom .start {
    float: right;
}

.custom .abxy {
    position: absolute;
    width: 480px;
    height: 480px;
    top: 176px;
    left: 1008px;
}

.custom .button {
    position: absolute;
    width: 160px;
    height: 160px;
    background: url(low/SNES-ABXYButton-Only-A-low.png);
    opacity: 0;
}

.custom .button.pressed {
    opacity: 1;
}

.custom .a {
    bottom: 0px;
    left: 160px;
}

.custom .b {
    top: 160px;
    right: 0px;
}

.custom .x {
    top: 160px;
}

.custom .y {
    left: 160px;
}

.custom .dpad {
    position: absolute;
    width: 448px;
    height: 448px;
    top: 192px;
    left: 144px;
}

.custom .face {
    background: url(low/SNES-Dpad-Only-A-low.png);
    position: absolute;
    opacity: 0;
}

.custom .face.up, .custom .face.down {
    width: 160px;
    height: 160px;
}

.custom .face.left, .custom .face.right {
    width: 160px;
    height: 160px;
}

.custom .face.up {
    top: 0;
    left: 144px;
    background-position:320px 0px;
}

.custom .face.down {
    top: 288px;
    left: 144px;
    background-position: 160px 0;
}

.custom .face.left {
    top: 144px;
    left: 0;
    background-position: 0px 0;
}

.custom .face.right {
    top: 144px;
    right: 0px;
    background-position: 480px 0;
}

.custom .face.pressed {
    margin-top: 0px;
    background-position-y: 0px;
    opacity: 1;
}

.custom.half {
    margin-top: -400px;
}

