/*BEGIN PS3 Controller Styling*/
.controller.custom {
    background: url(SNES-Controller-B.png);
    height: 800px;
    width: 1600px;
        margin-left: -800px;
        margin-top: -400px;
}

.custom.disconnected {
    background: url(SNES-Controller-B-All.png);
}

.custom.disconnected div {
    display: none;
}

.custom .bumper {
    width:315px;
    height: 48px;
    opacity: 0;
}

.custom .bumpers {
    position: absolute;
    width: 1046px;
    height: 48px;
    left: 284px;
    top: 63px;
}

.custom .bumper.pressed {
    opacity: 1;
}

.custom .bumper.left {
    background: url(SNES-LButton-Only-A.png);
    float: left;
}

.custom .bumper.right {
    background: url(SNES-RButton-Only-A.png);
    float: right;
}

.custom .quadrant {
    position: absolute;
    background: url(ps3-assets/player-n.png);
    height: 72px;
    width: 152px;
    top: 176px;
    left: 240px;
}

.custom .p0 {
    background-position: 0 0px;
}

.custom .p1 {
    background-position: 0 -40px;
}

.custom .p2 {
    background-position: 0 -80px;
}

.custom .p3 {
    background-position: 0 -120px;
}

.custom .arrows {
    position: absolute;
    width: 336px;
    height: 137px;
    top: 415px;
    left: 632px;
}

.custom .back, .custom .start {
    background: url(SNES-SelectButton-Only-A.png);
    width: 137px;
    height: 137px;
    opacity: 0;
}

.custom .back.pressed, .custom .start.pressed {
    background-position-y: 0px;
    opacity: 1;
}

.custom .back {
    float: left;
}

.custom .start {
    float: right;
}

.custom .abxy {
    position: absolute;
    width: 471px;
    height: 470px;
    top: 180px;
    left: 1006px;
}

.custom .button {
    position: absolute;
    width: 158px;
    height: 158px;
    background: url(SNES-AButton-Only-A.png);
    opacity: 0;
}

.custom .button.pressed {
    opacity: 1;
}

.custom .a {
    bottom: 0px;
    left: 157px;
}

.custom .b {
    top: 157px;
    right: 0px;
}

.custom .x {
    top: 157px;
}

.custom .y {
    left: 157px;
}

.custom .dpad {
    position: absolute;
    width: 440px;
    height: 440px;
    top: 195px;
    left: 154px;
}

.custom .face {
    background: url(SNES-Dpad-Only-A.png);
    position: absolute;
}

.custom .face.up, .custom .face.down {
    width: 149px;
    height: 149px;
}

.custom .face.left, .custom .face.right {
    width: 149px;
    height: 149px;
}

.custom .face.up {
    left: 300px;
    top: 0;
    background-position:298px 0px;
}

.custom .face.down {
    left: 300px;
    bottom: 0px;
    background-position: 347px 0;
}

.custom .face.left {
    top: 341px;
    left: 0;
    background-position: 0px 0;
}

.custom .face.right {
    top: 341px;
    right: 0px;
    background-position: 149px 0;
}

.custom .face.pressed {
    margin-top: 0px;
    background-position-y: 0px;
}

.custom.half {
    margin-top: -400px;
}

/*END PS3 Controller Styling*/

/*BEGIN PS3 White Controller Styling*/
.controller.custom.white {
    background-image: url(ps3-white-assets/base.png);
}

.custom.white.disconnected {
    background-image: url(ps3-white-assets/base-disconnect.png);
}


.custom.white .trigger {
    background-image: url(ps3-white-assets/triggers.png);
}


.custom.white .bumper {
    background-image: url(ps3-white-assets/bumpers.png);
}

.custom.white .quadrant {
    background-image: url(ps3-white-assets/player-n.png);
}

.custom.white .back, .custom.white .start {
    background-image: url(ps3-white-assets/menus.png);
}

.custom.white .button {
    background-image: url(ps3-white-assets/face-buttons.png);
}

.custom.white .stick {
    background-image: url(ps3-white-assets/thumbs.png);
}

.custom.white .face {
    background-image: url(ps3-white-assets/dpad.png);
}

/*END PS3 White Controller Styling*/
